@import '../css/fonts.css';
@import '../css/reset.css';
@import '../css/grid.css';

:root{
    --text-black-color:#1e1e1e;
    --primary-color:#0d6efd;
    --grey-color:#7a7a7a;
    --text-color: #fff;
    --red-color: #ee626b;
    --menu-bg-color:#0071f8;
    --box-color: #eeeeee;
    --box-hover:#0a58ca;
    --bg-color: #f7f7f7;
    --categories-color:#007aff;
    --game-color:#aaa;
}


html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family:  'Poppins';
    font-size: 1.5rem;
    color: #fff;
    line-height: 2;
    position: relative;
    transition: all 150ms;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* components */

a{
    text-decoration: none;
}



/* Main Project */





/* header */

.main-banner{
   background: url(../images/Banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: top center;
}

.header{
    position: relative;
    padding-bottom: 20rem;
    border-bottom-left-radius: 19rem;
    border-bottom-right-radius: 19rem;
}

.header-menu-section{
    transition: all 300ms;
    inset: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

.header-menu-section.active {
    position: fixed;
    background: var(--menu-bg-color) !important;
    top: 0;
    height: 80px;
    z-index: 99 !important;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding-top: 0;
    margin-right: 0;
    margin-left: 0;
}


.header-menu-section.active .header-menu-section{
    padding-top: 0;
}
.header-menu-section.active .LogoLink{
    width: 110px;
}

.headerBg{
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 10rem;
    width: 100%;
}
.LogoLink{
   
}
.menu_logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-nav{
    padding-right: 9rem;
}
.menu_nav--list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-right: -9rem;
}
.menu_nav--listItem{
    padding: .5rem;
    border-radius: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.4s;
}

.menu_nav--listItem.active {
    background-color:  rgba(255,255,255,0.10);
}

.menu_nav--listItem.lock {
    background-color: var(--red-color)
}

.menu_nav--listItem.lock:hover{
    background-color: var(--red-color);
}

.menu_nav--listItem:hover{
    background-color:  rgba(255,255,255,0.10);
}


.menu_nav--listItem-link{
    color: var(--text-color);
    font-weight: 200;
}


/* mobile menu */


.mobile-menu{
    position: fixed;
    width: 70%;
    inset: 0;
    margin: 0 auto;
    top: 8rem;
    transition: all 150ms;
    z-index: 100;
}
.mobile-menu-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 500ms;
}

.mobile-menu.hide {
    height: 0px;
}

.mobile-menu-list.hide{
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.mobile-menu-list--item{
  border-bottom: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobile-menu-listitem--link:hover{
    color: var(--red-color);
}

.mobile-menu-listitem--link.active{
    color: var(--red-color);
}


.mobile-menu-list--item:nth-child(5){
    border-bottom: none;
    padding-top: 0.7rem;
}

.mobile-menu-listitem--link{
    color: var(--text-black-color);
    transition: all 0.4s;
}

/* humberger menu */


.humbergur_toggle--wrapper{
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  cursor: pointer;
  display: none;
  right: 3rem;
}

.humbergur_toggle--main{
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  transform: rotate(180deg);
}

.hamburger-toggle{
    top: 1.7rem;
}
.hamburger-toggle-before{
    top: 2.7rem;
}
.hamburger-toggle-after{
    top: 0.7rem;
}

.hamburger-toggle,
.hamburger-toggle-before,
.hamburger-toggle-after{
    width: 2.5rem;
    height: 0.2rem;
    background-color: #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    transition: all 150ms;
}

.hamburger-toggle{
    width: 3rem;
}

.rotate{
    transform: rotate(-45deg);
    top: 1.8rem;
}
.rotateReset {
    transform: rotate(45deg);
    top: 1.8rem;
}

/* header contents */

.main{
   margin-top: -23.5rem;
}

.header-content-section{
    margin-top: 12rem;
}
.header-content-left{

}
.header-content-text{
  font-size: 2rem;
  letter-spacing: .5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
.header-content-title{
  font-size: 4.8rem;
  font-family: "Poppins Bold";
  line-height: 1.3;
  font-weight: bold;
  max-width: 42rem;
  margin-bottom: 4rem;
  position: relative;
}

.header-content-title::after{
    content: '';
    background-image: url(../images/caption-dec.png);
    display: inline-block;
    width: 200px;
    height: 12px;
    position: absolute;
    bottom: -.5rem;
    left: 11.5rem;
}

.header-content-paragraph{
  font-size: 1.4rem;
  max-width: 54rem;
  margin-bottom: 7rem;
}
.header-search-input{
   background-color: #fff;
   max-height: 50px;
   width: 60%;
   border-radius: 3rem;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.search-input{
   border: none;
   outline: none;
   width: 63%;
   margin-left: 2rem;
}

.search-input::placeholder{
    color: var(--grey-color);
    font-size: 1.5rem;
}

.button-search-input{
   border: none;
   outline: none;
   padding: 1.7rem;
   padding-right: 2rem;
   padding-left: 2rem;
   margin-right: -.2rem;
   background-color: var(--red-color);
   border-radius: 3rem;
   font-size: 1.4rem;
   font-weight: bold;
   color: var(--text-color);
   transition: all 300ms;
   cursor: pointer;
}

.button-search-input:hover{
    background-color: var(--primary-color);
}

.button-search-input

.header-content-right{

}

.header-img-wrapper{
  position: relative;
}

.header-conent-img{
  border-radius: 2.5rem;
  width: 100%;
  object-fit: cover;
}

.header-content-img--price{
   background-color: #008af8;
   right: 2rem;
   top: 2rem;
   font-size: 2.2rem;
   padding: .1rem 1.7rem .1rem 1.7rem;
   border-radius: 3rem;
}
.header-content-discount{
   background-color: var(--red-color);
   font-size: 2.8rem;
   padding: 2rem 1.5rem 2rem 1.5rem;
   border-radius: 100%;
   bottom: -1.5rem;
   left: -3.2rem;
}

.header-content-img--price,.header-content-discount{
    position: absolute;
    z-index: 2;
    font-weight: bold;
}

/* boxes */

.boxes{
    text-align: center;
    gap: 2rem;
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    padding-top: 12rem;
}
.box-wrapper{
    background-color: var(--text-color);
    border-radius: 3rem;
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-black-color);
    flex-direction: column;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    gap: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.box-wrapper:hover .box-image-wrapper{
    background-color: var(--red-color);
}

.box-image-wrapper{
     background-color: var(--menu-bg-color);
     padding: 2rem;
     border-radius: 10rem;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 250ms;
}

.box-image{

}

.box-title{
     padding-bottom: 1rem;
     font-family: "Poppins Bold";
}


/* trending games section */

.trending-games__section{
    margin-top: 12rem;
}
.trending-games__wrapper{

}

.trending-games__text{
    color: var(--red-color);
   font-weight: bold;
   font-size: 1.5rem;
}
.trending-games__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trending-games__title{
   color: var(--text-black-color);
   font-size: 3.6rem;
   font-family: "Poppins Bold";

}
.trending-games__link{
   display: inline-block;
   background-color: var(--red-color);
   padding: 1rem 3rem 1rem 3rem;
   border-radius: 3rem;
   color: var(--text-color);
}

.trending-games__container{
   margin-top: 6rem;
   gap: 2.5rem;
   display: grid !important;
   grid-template-columns: repeat(4,1fr);
}
.trending-game__wrapper{
    width: 100%;
    height: auto;
    background-color: var(--box-color);
    border-radius: 3rem;
    padding: 0 0 0 0 !important;
    transition: all 300ms;
}

.trending-game__wrapper:hover .trending-game__title p {
    color: var(--box-hover);
}

.trending-game__wrapper:hover .trending-game__title div{
    background-color: var(--box-hover);
}

.trending-game-img__wrapper{
    position: relative;
}
.trending-game-img__wrapper img{
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.trending-game__discount{
    display: inline-block;
    width: 6.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--menu-bg-color);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trending-game__discount p {
    font-family: "Poppins Bold";
}

.no-discount{
    padding: 1rem 0 1rem 0
}



.trending-game-title__wrapper{
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.trending-game__kind{
  color:var(--grey-color)
}

.trending-game__title {
    display: flex;
    justify-content: space-between;
}

.trending-game__title p{
  color: var(--text-black-color);
  font-family: 'Poppins Bold';
  font-size: 1.7rem;
  transition: all 300ms;
}

.trending-game__title div {
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem;
    transition: all 300ms;
}

.trending-game__title div svg{
    width: 18px;
}


/* swiper */

.swiper {
    width: 100%;
    height: 300px;
    color: red;
    
  }

.swiper-buttons__wrapper{
    width: 50%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.prev-btn,.next-btn {
    width: 60px;
    height: 60px;
    background-color: var(--box-hover);
    padding: 1rem;
    transition: all 300ms;
    border-radius: 3rem;
    cursor: pointer;
}

.prev-btn:hover,.next-btn:hover{
    background-color: var(--primary-color);
}




.prev-btn{

}

.next-btn {
}

  /* most played games section */

.mostplayed-games__section{
    padding-top: 10rem;
    margin-top: 10rem;
    background-color: var(--box-color);
    border-radius: 16rem;
    padding-bottom: 0rem;
    /* margin-right: .5rem;
    margin-left: .5rem; */
}
.mostplayed-games-titles__wrapper{

}

.mostplayed-games-text{
    color: var(--red-color);
    font-weight: bold;
}
.mostplayed-games-title__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.mostplayed-games-title{
    font-family: "Poppins Bold";
    color: var(--text-black-color);
    font-size: 3.6rem;
}
.mostplayed-games-link{
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--red-color);
    color: var(--text-color);
    border-radius: 3rem;
    transition: all 300ms;
}


.mostplayed-games__wrapper{
   
}
.mostplayed__game{
   text-align: center;
   background-color: var(--text-color);
   border-radius: 3rem;
}

.mostplayed__game:hover .mostplayed-game__title {
    color: var(--menu-bg-color);
}

.mostplayed__game:hover .mostplayed-game-link {
    background-color: var(--menu-bg-color);
}

.mostplayed-game-img__wrapper{
   width:  100%;
   height: 56%;
   margin: 0 auto;
}
.mostplayed-game__img{
   width: 100%;
   height: 100%;
   border-radius: 3rem;
}
.mostplayed-game__kind{
   color: var(--grey-color);
   margin-top: 2rem;
   margin-bottom: -.5rem;
}
.mostplayed-game__title{
   font-family: "Poppins Bold";
   font-size: 1.7rem;
   color: var(--text-black-color);
   margin-bottom: 1rem;
   transition: all 300ms;
}
.mostplayed-game-link{
   background-color: var(--red-color);
   display: inline-block;
   padding: .5rem 1.5rem .5rem 1.5rem;
   border-radius: 3rem;
   color: var(--text-color);
   transition: all 300ms
}


/* Top Categories */

.Top-Categories__section{
   margin-top: 10rem;
}
.Top-Categorie-title__wrapper{
   text-align: center;
   margin-bottom: 5.5rem;
}
.Top-Categories__text{
   color: var(--red-color);
   text-transform: uppercase;
   font-family: "Poppins Bold";
   font-size: 1.5rem;
}
.Top-Categories__title{
   color: var(--text-black-color);
   font-size: 3.6rem;
   font-family: "Poppins Bold";
}
.Top-Categories__wrapper{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 2.5rem;
}
.Top-Category{
  background-color: var(--categories-color);
  position: relative;
  height: 200px;
  text-align: center;
  border-radius: 3rem;
}
.Top-Category__kind{
    padding-top: 1.3rem;
    font-weight: bold;
    font-size: 1.7rem;
}

.Top-Category__img{
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   top: 6rem;
   border-radius: 3rem;
}


/* order section */


.order-section{
    margin-top: 20rem;
}

.order-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
}

.pre-order__wrapper{
    background-color: var(--bg-color);
    /* background-color: red; */
    padding: 8rem;
    border-radius: 2.5rem;
    margin-top: 8rem;
    margin-left: -1rem;
}
.pre-order__text{
    color: var(--red-color);
    font-family: 'Poppins Bold';
    margin-bottom: 1.5rem;
}
.pre_order__title{
    color: var(--text-black-color);
    font-size: 3.6rem;
    font-family: 'Poppins Bold';
    line-height: 1.3;
    max-width: 25rem;
}

.pre_order__title mark {
    background-color: transparent;
    color: var(--menu-bg-color);
}

.pre-order__desc{
    color: #4a4a4a;
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-weight: 600;
    font-size: 1.6rem;
    min-width: 30rem;
}
.pre-order__link{
    background-color: var(--red-color);
    padding: 1.3rem 2.5rem 1.3rem 2.5rem;
    border-radius: 3rem;
    color: var(--text-color);
    font-weight: bold;
    transition: all 300ms;
}

.pre-order__link:hover {
    background-color: var(--menu-bg-color);
}

.order-img__wrapper{
}

.order-img__wrapper img{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 2.5rem;
    margin: 0 auto;
}

.news-letter__wrapper{
    padding: 6rem;
    background-color: var(--bg-color);
    height: 494px;
    padding-top: 3rem;
    border-radius: 3rem;
    margin-top: 21.5rem;
}
.news-letter__text{
    color: var(--red-color);
    font-family: 'Poppins Bold';
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}
.news-letter__title{
    color: var(--text-black-color);
    font-size: 3.6rem;
    font-family: 'Poppins Bold';
    line-height: 1.3;
    min-width: 33rem;
    margin-bottom: 7rem;
}

.news-letter__title mark {
    background-color: transparent;
    color: var(--menu-bg-color);
}

.news-letter-input__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: 4rem;
    transition: all 100ms;
    position: relative;
    height: 50px;
    padding: 2.7rem;
}
.news-letter__input{ 
    border: none;
    outline: none;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 4rem;
    padding-left: 2rem;
    width: 100%;
    transition: all 100ms;
}

.news-letter__input:focus{
    border: 3.5px solid #86b7fe !important;
} 

.news-letter__link{
   position: absolute;
   right: 0;
   padding: 1rem;
   z-index: 2;
   font-size: 1.5rem;
   background-color: var(--red-color);
   transition: all 300ms;
   color: var(--text-color);
   border-radius: 3rem;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.news-letter__link:hover {
    background-color: var(--menu-bg-color);
}

.news-letter__link--mobile{
    display: none;
    width: 100%;
    padding: 1rem;
    transition: all 300ms;
    background-color: var(--red-color);
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.news-letter__link--mobile:hover{
    background-color: var(--menu-bg-color);
}

/* footer */

.footer{
    width: 100%;
    height: 150px;
    border-top-left-radius: 17rem;
    border-top-right-radius: 17rem;
    background: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.6rem;
    gap: 2rem;
    overflow: hidden;
}

.footer-text{
    text-align: center;
}

.footer-span{

}


/* product details section */

.product-details__header{
  
}

.product-details__banner{
  background: url(../images/page-heading-bg.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
}


.product-details-title__wrapper{
   text-align: center;
   margin-top: 8.5rem;
   position: absolute;
   left: 0;
   right: 0;
}
.product-details__title{
   font-size: 4.8rem;
   font-family: 'Poppins Bold';
   text-transform: uppercase;
   line-height: 1.2;
}

.product-details-links__wrapper{

}

.home-link,.shop-link{
  color: var(--text-color);
  font-size: 1.6rem;
}
.product-details__name{
  font-size: 1.6rem;
  color: var(--text-color);
}

.p-33{
    padding-bottom: 33rem !important;
}




/* product details main content */

.product-details__main{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.information__section{

}
.information__wrapper{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 3rem;
}
.information-left{

}

.information-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    max-height: 444px;
}

.information-right{
    padding-left: 10rem;
    margin-top: -1rem;
}
.information-title{
    color: var(--text-black-color);
    font-family: 'Poppins Bold';
    font-size: 2.7rem;
}
.information-cost__wrapper{
    margin-bottom: 4.5rem;
}
.information__price{
   color: #c8c8c8;
   font-size: 1.7rem;
   font-weight: 500;
}
.information__discount{
   color: var(--menu-bg-color);
   font-size: 2.7rem;
   font-family: 'Poppins Bold';
}
.information-desc{
   color: #4a4a4a;
   font-size: 1.4rem;
   max-width: 53rem;
   margin-bottom: 6rem;
}
.information-shop-btn__wrapper{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.count-input{
   width: 80px;
   height: 50px;
   text-align: center;
   padding-left: 1.5rem;
   border-radius: 3rem;
   transition: all 300ms;
   border: none;
   outline: none;
}

.count-input:focus{
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    border: 1px solid #86b7fe;
}

.addto-shop__btn{
   background-color: var(--red-color);
   padding: 1rem 2.5rem 1rem 2.5rem;
   transition: all 300ms;
   border-radius: 3rem;
   margin-left: 1rem;
   cursor: pointer;
}

.addto-shop__btn:hover{
    background-color: var(--menu-bg-color);
}

.addto-shop__btn i {
    padding-right: .5rem;
}
.Game-specifications__wrapper{
   margin-top: 4rem;
   display: flex;
   align-items: center;
   gap: 4rem;
   flex-wrap: wrap;
}

.Game-specifications__label{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.Game-specifications__value{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.Game-id__wrapper{

}
.Game-id,.Game-genre,.multi-tags{
   color: var(--game-color);
}
.Game-id__value,.Game-genre__value,.multi-tags__value{
   color: var(--menu-bg-color);
}
.Game-genre__wrapper{

}
.Game-genre__value{

}
.multi-tags__wrapper{

}
.multi-tags__value{

}


/* review && description section */

.review-description__section{

}
.review-description__wrapper{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.description {
    position: relative;
    
}

.description::after{
    content: '';
    position: absolute;
    top: .5rem;
    right: -3rem;
    height: 30px;
    width: 1px;
    background-color:rgb(215, 215, 215);
    pointer-events: none;
}

.description,.review{
  color: rgb(30, 30, 30);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
}

.description.active,.review.active {
    color: var(--menu-bg-color);
}


.review-description-content__wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.description-content,.review-content{
    color: rgb(74, 74, 74);
    font-size: 1.4rem;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: all 250ms;
    margin-top: 0;
    display: none;
    /* position: absolute;
    top: 0; */
}



.description-content.active, .review-content.active{
    height: auto;
    display: block;
    opacity: 1;
    visibility: visible;
    position: static;
    margin-top: 3rem;
}

.p-6 {
    padding: 6rem;
    background-color: var(--bg-color);
    margin-top: 8rem;
    border-radius: 3rem;
}

.mh-195{
    max-height: 195px;
}


/* related games section */


.related-games__section{
    margin-top: 10rem;
}
.related-games-title__wrapper{
    font-family: 'Poppins Bold';
}
.realted-games__text{
    color: var(--red-color);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}   
.related-games__title{
    color: var(--text-black-color);
    font-size: 3.6rem;
    font-weight: 700;

}
.related-games__link{
    background-color: var(--red-color);
    transition: all 300ms;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 3rem;
    color: var(--text-color);
}

.related-games__link:hover{
    background-color: var(--menu-bg-color);
}

.related-games__boxes{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
}
.related-game__box{
    /* position: relative; */
    background-color: var(--menu-bg-color);
    border-radius: 3rem;
}
.related-game__genre{
    text-align: center;
    font-size: 1.7rem;
    color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.related-game__img{
    width: 100%;
    height: 81%;
    object-fit: cover;
    border-radius: 3rem;
}

/* ordination section */

.ordination__section{
  margin-top: 12rem;
  margin-bottom: 8rem;
}
.main-ordination__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-ordination__item{
  color: var(--text-black-color);
  font-family: 'Poppins Bold';
  font-size: 1.5rem;
  transition: all 300ms;
  padding: .5rem 2.1rem .5rem 2.1rem;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #eee;
  cursor: pointer;
}

.main-ordination__item.active {
    background-color: var(--red-color);
    color: var(--text-color);
}

.main-ordination__item.active:hover{
    color: var(--text-color);
}

.main-ordination__item:hover{
    color: var(--red-color);
}


/* pagination */

.related__boxes-pagionation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 15rem;
}
.pagionation-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.pagination-item,.pagination-item--prev
.pagination-item--next{
    background-color: #eee;
    color: var(--text-black-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    cursor: pointer;
}

.pagination-item.active {
    color: var(--text-color);
    background-color: var(--menu-bg-color);
}

.pagination-item:hover{
    color: var(--text-color);
    background-color: var(--menu-bg-color);
}

.pagination-item--prev{

}
.pagination-item--next{

}