:root{
    --text-black-color:#1e1e1e;
    --primary-color:#0d6efd;
    --grey-color:#7a7a7a;
    --text-color: #fff;
    --red-color: #ee626b;
    --menu-bg-color:#0071f8;
    --box-color: #eeeeee;
    --box-hover:#0a58ca;
    --bg-color: #f7f7f7;
}


html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
    height: 1000rem;
}

body{
    font-family:  'Poppins';
    font-size: 1.5rem;
    color: #fff;
    line-height: 2;
    position: relative;
    transition: all 150ms;
}

/* components */

a{
    text-decoration: none;
}



/* Main Project */





/* header */

.header{
    background:url(../images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20rem;
    border-bottom-left-radius: 19rem;
    border-bottom-right-radius: 19rem;
    margin: 0 .5rem 0 .5rem;
}

.header-menu-section{
    transition: all 300ms;
    inset: 0;
    margin-right: .5rem;
    margin-left: .5rem;
}

.header-menu-section.active {
    position: fixed;
    background: var(--menu-bg-color) !important;
    top: 0;
    height: 80px;
    z-index: 99 !important;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding-top: 0;
}


.header-menu-section.active .header-menu-section{
    padding-top: 0;
}
.header-menu-section.active .LogoLink{
    width: 110px;
}

.headerBg{
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 10rem;
    width: 100%;
}
.LogoLink{
   
}
.menu_logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-nav{
    padding-right: 9rem;
}
.menu_nav--list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-right: -9rem;
}
.menu_nav--listItem{
    padding: .5rem;
    border-radius: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.4s;
}

.menu_nav--listItem.active {
    background-color:  rgba(255,255,255,0.10);
}

.menu_nav--listItem.lock {
    background-color: var(--red-color)
}

.menu_nav--listItem.lock:hover{
    background-color: var(--red-color);
}

.menu_nav--listItem:hover{
    background-color:  rgba(255,255,255,0.10);
}


.menu_nav--listItem-link{
    color: var(--text-color);
    font-weight: 200;
}


/* mobile menu */


.mobile-menu{
    position: fixed;
    width: 70%;
    inset: 0;
    margin: 0 auto;
    top: 10rem;
    transition: all 150ms;
    z-index: 100;
}
.mobile-menu-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 500ms;
}

.mobile-menu.hide {
    height: 0px;
}

.mobile-menu-list.hide{
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.mobile-menu-list--item{
  border-bottom: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobile-menu-listitem--link:hover{
    color: var(--red-color);
}

.mobile-menu-listitem--link.active{
    color: var(--red-color);
}


.mobile-menu-list--item:nth-child(5){
    border-bottom: none;
    padding-top: 0.7rem;
}

.mobile-menu-listitem--link{
    color: var(--text-black-color);
    transition: all 0.4s;
}

/* humberger menu */


.humbergur_toggle--wrapper{
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  cursor: pointer;
  display: none;
  right: 3rem;
}

.humbergur_toggle--main{
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  transform: rotate(180deg);
}

.hamburger-toggle{
    top: 1.7rem;
}
.hamburger-toggle-before{
    top: 2.7rem;
}
.hamburger-toggle-after{
    top: 0.7rem;
}

.hamburger-toggle,
.hamburger-toggle-before,
.hamburger-toggle-after{
    width: 2.5rem;
    height: 0.2rem;
    background-color: #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    transition: all 150ms;
}

.hamburger-toggle{
    width: 3rem;
}

.rotate{
    transform: rotate(-45deg);
    top: 1.8rem;
}
.rotateReset {
    transform: rotate(45deg);
    top: 1.8rem;
}

/* header contents */

.main{
   margin-top: -23.5rem;
}

.header-content-section{
    margin-top: 12rem;
}
.header-content-left{

}
.header-content-text{
  font-size: 2rem;
  letter-spacing: .5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
.header-content-title{
  font-size: 4.8rem;
  font-family: "Poppins Bold";
  line-height: 1.3;
  font-weight: bold;
  max-width: 42rem;
  margin-bottom: 4rem;
  position: relative;
}

.header-content-title::after{
    content: '';
    background-image: url(../images/caption-dec.png);
    display: inline-block;
    width: 200px;
    height: 12px;
    position: absolute;
    bottom: -.5rem;
    left: 11.5rem;
}

.header-content-paragraph{
  font-size: 1.4rem;
  max-width: 54rem;
  margin-bottom: 7rem;
}
.header-search-input{
   background-color: #fff;
   max-height: 50px;
   width: 60%;
   border-radius: 3rem;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.search-input{
   border: none;
   outline: none;
   width: 63%;
   margin-left: 2rem;
}

.search-input::placeholder{
    color: var(--grey-color);
    font-size: 1.5rem;
}

.button-search-input{
   border: none;
   outline: none;
   padding: 1.7rem;
   padding-right: 2rem;
   padding-left: 2rem;
   margin-right: -.2rem;
   background-color: var(--red-color);
   border-radius: 3rem;
   font-size: 1.4rem;
   font-weight: bold;
   color: var(--text-color);
   transition: all 300ms;
   cursor: pointer;
}

.button-search-input:hover{
    background-color: var(--primary-color);
}

.button-search-input

.header-content-right{

}

.header-img-wrapper{
  position: relative;
}

.header-conent-img{
  border-radius: 2.5rem;
  width: 100%;
  object-fit: cover;
}

.header-content-img--price{
   background-color: #008af8;
   right: 2rem;
   top: 2rem;
   font-size: 2.2rem;
   padding: .1rem 1.7rem .1rem 1.7rem;
   border-radius: 3rem;
}
.header-content-discount{
   background-color: var(--red-color);
   font-size: 2.8rem;
   padding: 2rem 1.5rem 2rem 1.5rem;
   border-radius: 100%;
   bottom: -1.5rem;
   left: -3.2rem;
}

.header-content-img--price,.header-content-discount{
    position: absolute;
    z-index: 2;
    font-weight: bold;
}

/* boxes */

.boxes{
    text-align: center;
    gap: 2rem;
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    padding-top: 12rem;
}
.box-wrapper{
    background-color: var(--text-color);
    border-radius: 3rem;
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-black-color);
    flex-direction: column;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    gap: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.box-wrapper:hover .box-image-wrapper{
    background-color: var(--red-color);
}

.box-image-wrapper{
     background-color: var(--menu-bg-color);
     padding: 2rem;
     border-radius: 10rem;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 250ms;
}

.box-image{

}

.box-title{
     padding-bottom: 1rem;
     font-family: "Poppins Bold";
}


/* trending games section */

.trending-games__section{
    margin-top: 12rem;
}
.trending-games__wrapper{

}

.trending-games__text{
    color: var(--red-color);
   font-weight: bold;
   font-size: 1.5rem;
}
.trending-games__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trending-games__title{
   color: var(--text-black-color);
   font-size: 3.6rem;
   font-family: "Poppins Bold";

}
.trending-games__link{
   display: inline-block;
   background-color: var(--red-color);
   padding: 1rem 3rem 1rem 3rem;
   border-radius: 3rem;
   color: var(--text-color);
}

.trending-games__container{
   margin-top: 6rem;
   gap: 2.5rem;
   display: grid !important;
   grid-template-columns: repeat(4,1fr);
}
.trending-game__wrapper{
    height: auto;
    background-color: var(--box-color);
    border-radius: 3rem;
    padding: 0 0 0 0 !important;
    transition: all 300ms;
}

.trending-game__wrapper:hover .trending-game__title p {
    color: var(--box-hover);
}

.trending-game__wrapper:hover .trending-game__title div{
    background-color: var(--box-hover);
}

.trending-game-img__wrapper{
    position: relative;
}
.trending-game-img__wrapper img{
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.trending-game__discount{
    display: inline-block;
    width: 6.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--menu-bg-color);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trending-game__discount p {
    font-family: "Poppins Bold";
}

.no-discount{
    padding: 1rem 0 1rem 0
}



.trending-game-title__wrapper{
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.trending-game__kind{
  color:var(--grey-color)
}

.trending-game__title {
    display: flex;
    justify-content: space-between;
}

.trending-game__title p{
  color: var(--text-black-color);
  font-family: 'Poppins Bold';
  font-size: 1.7rem;
  transition: all 300ms;
}

.trending-game__title div {
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem;
    transition: all 300ms;
}

.trending-game__title div svg{
    width: 18px;
}


/* swiper */

.swiper {
    width: 100%;
    height: 300px;
    color: red;
    
  }

  /* most played games section */

.mostplayed-games__section{
    margin-top: 10rem;
}
.mostplayed-games-titles__wrapper{

}

.mostplayed-games-text{
    color: var(--red-color);
    font-weight: bold;
}
.mostplayed-games-title__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mostplayed-games-title{
    font-family: "Poppins Bold";
    color: var(--text-black-color);
    font-size: 3.6rem;
}
.mostplayed-games-link{
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--red-color);
    color: var(--text-color);
    border-radius: 3rem;
    transition: all 300ms;
}


.mostplayed-games__wrapper{
   gap: 3rem;
}
.mostplayed__game{
   text-align: center;
   background-color: var(--text-color);
   border-radius: 3rem;
}

.mostplayed__game:hover .mostplayed-game__title {
    color: var(--menu-bg-color);
}

.mostplayed__game:hover .mostplayed-game-link {
    background-color: var(--menu-bg-color);
}

.mostplayed-game-img__wrapper{
   width:  100%;
   height: 56%;
   margin: 0 auto;
}
.mostplayed-game__img{
   width: 100%;
   height: 100%;
   border-radius: 3rem;
}
.mostplayed-game__kind{
   color: var(--grey-color);
   margin-top: 2rem;
   margin-bottom: -.5rem;
}
.mostplayed-game__title{
   font-family: "Poppins Bold";
   font-size: 1.7rem;
   color: var(--text-black-color);
   margin-bottom: 1rem;
   transition: all 300ms;
}
.mostplayed-game-link{
   background-color: var(--red-color);
   display: inline-block;
   padding: .5rem 1.5rem .5rem 1.5rem;
   border-radius: 3rem;
   color: var(--text-color);
   transition: all 300ms
}