@font-face {
    font-family: 'Poppins';
    src: url(../webfonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins Bold';
    font-weight: 700;
    font-style: normal;
    src: url(../webfonts/Poppins-Bold.ttf) format(truetype);
}
